body{
  background-color: #134b5f;
  padding: 1em;
}
h1{
  font-family: "Merriweather Sans", sans-serif, sans;
  width: 100%;
  color: #DA0000;
  font-weight: 800;
  padding-top: 1.182em;
  padding-bottom: 1.182em;
  text-align: center;
  font-size: 2.478em;
}
p{
  font-family: "Merriweather Sans", sans-serif, sans;
  padding-bottom: 1.182em;
  text-align: center;
  font-size: 1.547em;
  text-decoration: underline;
}
.bolded{
  font-size: 1.2em;
  font-weight: bold;
  color: #DA0000;
}
ol{
  text-align: center;
}

#input-email{
  padding-bottom: 1em;
}
#input-email label{
  font-family: "Merriweather Sans", sans-serif, sans;
  width: 60%;
  position: relative;
  left: 9.7%;
  text-align: left;
  padding-bottom: 0.25em;
  font-size: 1.375em;
}
#input-email input{
  font-family: "Merriweather Sans", sans-serif, sans;
  width: 80%;
  border: none;
  height: 1.75em;
  background-color: #ACACAC;
  /* Got this from W3 Schools */
  border-radius: 25px;
}
#input-age-verification{
  padding-bottom: 1em;
}
/*put input and label together to display both in one line
Credits: Darsh Kapadia*/
#input-age-verification input[type="checkbox"],
#input-age-verification label{
  display: inline-block;
}
#input-age-verification label{
  font-family: "Merriweather Sans", sans-serif, sans;
  font-size: 1.375em;
  padding-left: 0.5em;
}
#input-age-verification input[type="checkbox"]{
  width: 1em;
  height: 1em;
  background-color: #ACACAC;
  border: none;
  /* From W3 Schools */
  border-radius: 25px;
}
#submit{
  /* From W3 Schools */
  background-color: #ACACAC;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Merriweather Sans", sans-serif, sans;
  font-size: 0.75em;
  border-radius: 25px;
}
@media screen and (min-width: 800px){
  body{
	  background-color: #335E5E;
  }
  p{
	  color: white;
  }
  #input-email label{
	  color: white;
  }
  #input-email input{
	  background-color: #368D8D;
  }
  #input-age-verification label{
	  color: white;
  }
  #input-age-verification input[type="checkbox"]{
	  background-color: #368D8D;
  }
  #submit{
	  background-color: #368D8D;
  }
}
