// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 300 to 800

.merriweather-sans-<uniquifier> {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
  background-color: #007DD8;
}

h1{
  font-family: "Merriweather Sans", sans-serif;
  position: relative;
  width:80%;
  left:10%;
  color: #DA0000;
  font-weight: 800;
  padding-top: 1.182em;
  padding-bottom: 1.182em;
  text-align: center;
  font-size: 2.202em;
}

p{
	font-family: "Merriweather Sans", sans-serif;
  padding-bottom: 1.182em;
}

/* From Week 6 Demo 12 site.js */
#alt-box {
  float: left;
  height: 1em;
  width: 1em;
  background-color: #DDD;
  border: 2px solid #8a8a8a;
  border-radius: 4px;

}

.nojs #alt-box {
  position: absolute; 
  right: 6000px;
}