body{
  background-color: #007DD8;
}

h1{
  color: #DA0000;
  font-weight: 900;
  padding-bottom: 1.182em;
  width: 25%;
  position: relative;
  left: 50%
}

p{
  padding-bottom: 1.182em;
}

/* ===== STATE STYLES ======= */

/* From Week 6 Demo 12 site.js */
#alt-box {
  float: left;
  height: 1em;
  width: 1em;
  background-color: #DDD;
  border: 2px solid #8a8a8a;
  border-radius: 4px;

}

.nojs #alt-box {
  position: absolute; 
  right: 6000px;
}

/*.hasjs class will only exist if js runs*/

.hasjs #age-verification {
  position: absolute; 
  right: 6000px;